body {
    background-color: lightgrey;
    color: black;
}
a {
    color: black;
    text-decoration: underline;
}
a:visited {
    color: black;
    text-decoration: underline;
}
nav.padded {
    background-color: powderblue;
    width: 100%; 
    padding: 0.5em;
}
#secondary-nav {
    margin-bottom: 1rem;
}
#main-nav {
    background-color: lightblue;
    margin-bottom: 0.25rem;
}
nav a {
    margin-right: 1rem;
}
div.card {
    width: 18rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
div.card-auto {
    width: auto;
}
div.text-body {
    width: 100%;
    margin-bottom: 1rem;
}
div.row-container {
    margin: 1rem;
}
div.section {
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    overflow-x: scroll;
}
div.section-heading {
    margin-top: 2rem;
}
.modal-backdrop {
    opacity:0.8 !important;
}
#site-name {
    position: absolute;
    top: 5px;
    right:5px;
}
.alert-no-margin {
    margin: unset;
}
