{% extends 'subwaive/base.html' %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>Events</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}

<div class="section section-heading">
    <h5 class="card-title">{{ event.summary }}</h5>
    
        <div>{{ event.start }} / {{ event.end }}</div>
    
    <div>{{ event.description }}</div>
</div>

<div>
    <form action="{% url 'event_details' event.id %}" method="POST">
        {% csrf_token %}
        <select name="person_id">
            {% for person in possible_check_ins %}
            <option value="{{ person.id }}">{{ person.name }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-success">Check-in</button>
    </form>
</div>

{% if check_in_issues %}
<div class="row-container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for issue in check_in_issues %}
        <div class="card text-center alert {% if issue.waiver %}alert-danger{% else %}alert-warning{% endif %}">
            <div class="card-body">
                <h5>{{ issue.person.name }}</h5>
                
                {% if issue.waiver %}
                <li>Missing waiver</li>
                {% endif %}

                {% if issue.membership %}
                <li>Missing membership</li>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="row-container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for person in persons %}
        <div class="card text-center">
            <div class="card-body">
                <h5>{{ person.name }}</h5>

                <div>{{ person.preferred_email.email }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}