{% extends 'subwaive/base.html' %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>Events</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for event in events %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ event.summary }}</h5>

                <div><a href="{% url 'event_details' event.id %}">View Attendees</a></div>

                <div>{{ event.summary }}</div>

                <div>{{ event.description }}</div>

                <div>{{ event.start }}</div>

                <div>{{ event.end }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}