<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Check-in History</h5>

        {% if last_check_ins %}
        <div>Last 5 check-ins: </div>
        {% now "Y" as current_year %}
        {% for check_in in last_check_ins %}
            {% if check_in.event %}
        <div>
            <a href="{% url 'event_details' check_in.event.id %}">
                {% if check_in.event.start|date:"Y" == current_year %}
                {{ check_in.event.start|date:"M j" }}
                {% else %}
                {{ check_in.event.start|date:"M j, Y" }}
                {% endif %}
                / {{ check_in.event.summary }}
            </a>
        </div>
            {% else %}
        <div>
            Ad Hoc {{ check_in.check_in_time }}
            {% if check_in.check_in_time|date:"Y" == current_year %}
            {{ check_in.check_in_time|date:"M j" }}
            {% else %}
            {{ check_in.check_in_time|date:"M j, Y" }}
            {% endif %}
        </div>
            {% endif %}
        {% endfor %}
        {% else %}
        <div>Never checked in</div>
        {% endif %}
    </div>
</div>