{% block content %}
{% load static %}

        <!-- Notice of confidentiality -->
        <!-- Trigger Modal Button -->
        <button class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#imageModal{{ qr_code.id }}">
            CONFIDENTIAL <img src="{% static 'img/info-circle-white.svg' %}">
        </button>

        <!-- Modal for confidentiality statement -->
        <div class="modal fade" id="imageModal{{ qr_code.id }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body alert alert-danger alert-no-margin">
                        <h3>Confidential Information</h3>
                        
                        <p>We never release information except:
                            <ul>
                                <li>About a member or membership to that member</li>
                                <li>About a membership to the person who pays for it</li>
                                <li>The specifically requested information with a valid court order</li>
                            </ul>
                        </p>

                        <p>This includes:
                            <ul>
                                <li>If somebody is or has ever been a member</li>
                                <li>When or whether somebody visited</li>
                                <li>Purchase histories</li>
                                <li>Anything related to signed documents except:
                                    <ul>
                                        <li>Documents required of board members</li>
                                        <li>Whether an individual has a current volunteer agreement</li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /Notice of confidentiality -->

{% endblock %}