{% block content %}

        <!-- Notice of confidentiality -->
        <!-- Trigger Modal Button -->
        <button class="btn btn-danger float-end" data-bs-toggle="modal" data-bs-target="#imageModal{{ qr_code.id }}">
            CONFIDENTIAL {% include 'subwaive/img/info-circle.svg' %}
        </button>

        <!-- Modal for confidentiality statement -->
        <div class="modal fade" id="imageModal{{ qr_code.id }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body alert alert-danger alert-no-margin">
                        <h3>Confidential Information</h3>
                        
                        <p>We never release information except:
                            <ul>
                                <li>About a membership to the named member</li>
                                <li>About a membership to the payee</li>
                                <li>Only the specifically requested information with a valid court order</li>
                            </ul>
                        </p>

                        <p>This includes whether or not somebody:
                            <ul>
                                <li>Is or has ever been a member</li>
                            </ul>
                        </p>
                        
                        <p>Has signed any type of agreement except:
                            <ul>
                                <li>Whether a board member has a current conflict of interest disclosure</li>
                                <li>Whether an individual has a current volunteer agreement</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Notice of confidentiality -->

{% endblock %}