{% block content %}

        <!-- Notice of confidentiality -->
        <div class="container-fluid alert alert-danger">
            <strong>This information is CONFIDENTIAL and must be protected.</strong>
            <a class="btn-danger" data-bs-toggle="collapse" href="#confStatement" aria-expanded="false" aria-controls="confStatement">
                More
              </a>
            <div class="collapse" id="confStatement">
                <p>We never release information except:</p>
                    <ul>About a membership to the named member</ul>
                    <ul>About a membership to the payee</ul>
                    <ul>Only the specifically requested information with a valid court order</ul>
                <p>This includes whether or not somebody:</p>
                    <ul>Is or has ever been a member</ul>
                    <ul>Has signed any type of agreement except:
                        <ul>Whether a board member has a current conflict of interest disclosure</ul>
                        <ul>Whether an individual has a current volunteer agreement</ul>
                    </ul>
            </div>
        </div>
        <!-- /Notice of confidentiality -->

{% endblock %}