{% if page.number %}
{% if page.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">

      {% if page.has_previous %}
      <li class="page-item"><a class="btn btn-outline-secondary" href="?page=1">1</a></li>
      {% endif %}

      {% if page.previous_page_number > 1 %}
      <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ page.previous_page_number }}{% if request.POST.search_term %}&search_term={{ request.POST.search_term }}{% elif request.GET.search_term %}&search_term={{ request.GET.search_term }}{% endif %}";false;'><<</a></li>
      {% endif %}

      <li class="page-item active"><A class="btn btn-secondary" href="#" disabled>{{page.number}}</a></li>

      {% if page.next_page_number < page.paginator.num_pages %}
      <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ page.next_page_number }}{% if request.POST.search_term %}&search_term={{ request.POST.search_term }}{% elif request.GET.search_term %}&search_term={{ request.GET.search_term }}{% endif %}";false;'>>></a></li>
      {% endif %}

      {% if page.has_next %}
      <li class="page-item"><a class="btn btn-outline-secondary" href="?page={{ page.paginator.num_pages }}{% if request.POST.search_term %}&search_term={{ request.POST.search_term }}{% elif request.GET.search_term %}&search_term={{ request.GET.search_term }}{% endif %}";false;'>{{ page.paginator.num_pages }}</a></li>
      {% endif %}
    </ul>
</nav>
{% endif %}
{% endif %}