#m h dom mo dow cmd

56 * * * * /bin/sh /tmp/data_refresh.sh $DATA_REFRESH_TOKEN event
58 * * * * /bin/sh /tmp/data_refresh.sh $DATA_REFRESH_TOKEN docuseal
00 * * * * /bin/sh /tmp/data_refresh.sh $DATA_REFRESH_TOKEN stripe

0 0 * * 1 /bin/sh /tmp/thin_logs.sh $DATA_REFRESH_TOKEN