DEBUG=False
DJANGO_SECRET_KEY=## GENERATE A KEY HERE ##
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=localhost,subwaive
CSRF_TRUSTED_ORIGINS=http://localhost,http://subwaive
TIME_ZONE=America/New_York

DATA_REFRESH_TOKEN=

# These are the ports exposed by docker on the host device. Change these to avoid conflicts with exiting ports in use.
# If HOST_WEB_PORT is changed to anything other than 80, be sure to update the CSRF_TRUSTED_ORIGINS list above to
# include the new port number: http://localhost:<PORT NUMBER>
HOST_WEB_PORT=80
HOST_DATABASE_PORT=5432
HOST_APP_PORT=8000

DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=subwaivedb
DATABASE_USERNAME=subwaive
DATABASE_PASSWORD=## GENERATE A KEY HERE ##
DATABASE_HOST=subwaive-db
DATABASE_PORT=5432

STRIPE_API_KEY=
STRIPE_ENDPOINT_SECRET=
STRIPE_WWW_ENDPOINT=https://dashboard.stripe.com/

DOCUSEAL_API_KEY=
DOCUSEAL_ENDPOINT_SECRET=
DOCUSEAL_API_ENDPOINT=
DOCUSEAL_WWW_ENDPOINT=

CALENDAR_URL=
CALENDAR_WWW_ENDPOINT=
