{% extends 'subwaive/base.html' %}
{% block content %}

<!-- tabs for stripe/docuseal/app -->

<div class="container-fluid">
    <h1>Stripe Customer List</h1>
</div>

<!-- Determination of confidentiality -->
{% if CONFIDENTIALITY_LEVEL == 'PUBLIC' %}
    {% include 'subwaive/templates/public-data-statement.html' %}
{% else %}
    {% include 'subwaive/templates/confidentiality-statement.html' %}
{% endif %}
<!-- /Determination of confidentiality -->

{% include 'subwaive/templates/buttons.html' %}

{% include 'subwaive/templates/messages.html' %}

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for dataset in datasets %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ dataset.description }}</h5>

                <div>Last updated: {{ dataset.last_refresh }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}