{% extends 'subwaive/base.html' %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>{{ page_title }}</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}

{% include 'subwaive/templates/messages.html' %}

{% if description %}
<div class="section section-heading">{{ data_source|safe }}</div>
{% endif %}

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for tile in tiles %}
        <div class="card text-center">
            <div class="card-body">
                {% for log in tile.log_descriptions %}
                <p>
                    <h5>{{ log.description }}</h5>
                    <div>Last updated: {{ log.last_refresh|date:"" }}</div>
                </p>
                {% endfor %}
                {% for button in tile.buttons %}
                <p>
                    <button 
                        class="btn btn-success"
                        onclick='window.location="{{ button.url }}";'
                        >{{ button.anchor }}</button>
                </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}