{% extends 'subwaive/base.html' %}
{% block content %}

<div class="container-fluid">
    <h1>{{ page_title }}</h1>
</div>

<!-- Determination of confidentiality -->
{% if CONFIDENTIALITY_LEVEL == 'PUBLIC' %}
    {% include 'subwaive/templates/public-data-statement.html' %}
{% else %}
    {% include 'subwaive/templates/confidentiality-statement.html' %}
{% endif %}
<!-- /Determination of confidentiality -->

{% include 'subwaive/templates/buttons.html' %}

<ul class="nav nav-tabs" id="myTab">
{% if categories %}
{% for category in categories %}
    <li class="nav-item" role="presentation">
        <button class="nav-link{% if forloop.counter == 1 %} active{% endif %}" id="{{ category.baseid }}-tab" data-bs-toggle="tab" data-bs-target="#{{ category.baseid }}-pane" aria-controls="{{ category.baseid }}-pane" {% if forloop.counter == 1 %}aria-selected="true"{% endif %}>{{ category.name }}</button>
    </li>
{% endfor %}
{% endif %}
</ul>

<!-- tap QR code to raise in modal as full screen -->

<!-- Tab content -->
<div class="tab-content" id="myTabContent">
{% for category in categories %}
    <div class="tab-pane fade{% if forloop.counter == 1 %}show active{% endif %}" id="{{ category.baseid }}-pane" role="tabpanel">
        <div class="container">
            <h2>{{ category.name }}</h2>
{% for qr_code in qr_list %}
{% if category.name == qr_code.category %}
            <div class="container-fluid">
                <h3>{{ qr_code.name }}</h3>
                        <!-- Trigger Modal Button -->
        <a data-bs-toggle="modal" data-bs-target="#imageModal{{ qr_code.id }}">
            {{ qr_code.svg_small|safe }}
        </a>

        <!-- Modal -->
        <div class="modal fade" id="imageModal{{ qr_code.id }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body">
                <h3>{{ qr_code.name }}</h3>
                {{ qr_code.svg_large|safe }}
              </div>
            </div>
          </div>
        </div>
{% if qr_code.url %}
                <div><a href="{{ qr_code.url }}">Link</a></div>
{% endif %}
            </div>
{% endif %}
{% endfor %}
        </div>
    </div>
{% endfor %}
</div>
<!-- /Tab content -->

{% endblock %}
