{% extends 'subwaive/base.html' %}
{% block content %}

<!-- tabs for stripe/docuseal/app -->

<div class="container-fluid">
    <h1>{{ page_title }} - {{ status|capfirst }}</h1>
</div>

<!-- Determination of confidentiality -->
{% if CONFIDENTIALITY_LEVEL == 'PUBLIC' %}
    {% include 'subwaive/templates/public-data-statement.html' %}
{% else %}
    {% include 'subwaive/templates/confidentiality-statement.html' %}
{% endif %}
<!-- /Determination of confidentiality -->

{% include 'subwaive/templates/buttons.html' %}

{% for waiver in waivers %}
{{ waiver }}
{% ifchanged waiver.id %}
{% if forloop.counter != 1 %}
    </div>
</div>
{% endif %}

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{ waiver.name }}</h5>
{% endifchanged %}
        <div>Email: <a href="mailto:{{ waiver.email }}">{{ waiver.email }}</a></div>
        <div>Phone: {{ waiver.phone }}</div>
        <div>Waiver: {{ waiver.waiver }}</div>
        <div>Completed: {{ waiver.completed_at }}</div>
{% endfor %}

{% endblock %}