{% extends 'subwaive/base.html' %}
{% load static %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>{{ person.name }}</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}
{% include 'subwaive/templates/messages.html' %}

<div class="section section-heading">
    <img src="{% static 'img/Docuseal-logo.svg' %}">
    <h5 class="card-title">{{ person.name }}</h5>
</div>

{% if pending_documents %}
<div class="section section-heading"><h5>Pending</h5></div>
<div class="row-container">    
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for document in pending_documents %}
        {% include 'subwaive/templates/document-card.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if current_documents %}
<div class="section section-heading"><h5>Current</h5></div>
<div class="row-container">    
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for document in current_documents %}
        {% include 'subwaive/templates/document-card.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% if archived_documents %}
<div class="section section-heading"><h5>Archived</h5></div>
<div class="row-container">    
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for document in archived_documents %}
        {% include 'subwaive/templates/document-card.html' %}
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}