{% extends 'subwaive/base.html' %}
{% load static %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>{{ person.name }}</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}
{% include 'subwaive/templates/messages.html' %}

<div class="section section-heading">
    <img src="{% static 'img/Stripe-wordmark.svg' %}">
    <h5>{{ person.name }}</h5>
</div>

<div class="section section-heading">
    <h5>Active subscriptions</h5>
</div>

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for subscription in stripe_subscriptions %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ subscription.name }}</h5>
                <div>
                    <div class="alert 
                    {% if subscription.status == 'active' %}alert-success
                    {% else %}alert-danger
                    {% endif %}
                        ">Status: {{ subscription.status }}</div>
                    <div>Good through: {{ subscription.date_renew }}</div>
                    <div><a href="{{ subscription.url }}">View in Stripe</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="section section-heading">
    <h5 class="card-title">One-Time Payments</h5>
</div>

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for payment in stripe_onetime_payments %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ payment.description }}</h5>
                <div>{{ payment.date }}</div>
                <div><a href="{{ payment.url }}">View in Stripe</a></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for payment in stripe_events %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ payment.description }}</h5>
                <div>{{ payment.date }}</div>
                <div><a href="{{ payment.url }}">View in Stripe</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="section section-heading">
    <h5 class="card-title">Donor Status</h5>
</div>

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% if stripe_donor_status %}
            {% if stripe_donor_status.0 %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Recurring donations</h5>
                <div>Makes a recurring donation.</div>
            </div>
        </div>
            {% endif %}
            {% if stripe_donor_status.1 %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">One-time donation</h5>
                <div>Has made {{ stripe_donor_status.1 }} donation{{ stripe_donor_status.1|pluralize }}.</div>
            </div>
        </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}