{% extends 'subwaive/base.html' %}
{% block content %}

<!-- Determination of confidentiality -->
{% if CONFIDENTIALITY_LEVEL == 'PUBLIC' %}
    {% include 'subwaive/templates/public-data-statement.html' %}
{% else %}
    {% include 'subwaive/templates/confidentiality-statement.html' %}
{% endif %}
<!-- /Determination of confidentiality -->

<div class="container-fluid">
    <h1>People</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% for person in persons %}
        <div class="card text-center">
            <div class="card-body">
                {% if person.has_membership %}<div class="float-end"><img width="20px" src="https://www.svgrepo.com/show/13695/star.svg" /></div>{% endif %}
                <h5 class="card-title">{{ person.name }}</h5>

                <div>Last check-in: {{ person.last_check_in }}</div>
                <div>
                    <button class="btn btn-info" onclick="window.location='{{ person.person_card }}'; return false;">Details</button>
                    <button class="btn btn-success" onclick="window.location='{% url 'member_check_in' person.id %}'; return false;">Check-in</button>
                </div>

                <div>Preferred email: <a href="mailto:{{ person.preferred_email }}">{{ person.preferred_email }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}