{% extends 'subwaive/base.html' %}
{% load static %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>Search</h1>
</div>

<div class="d-none d-md-flex">
    {% include 'subwaive/templates/buttons.html' %}
</div>

{% include 'subwaive/templates/messages.html' %}

<div class="row-container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        <div class="card card-md">
            <div class="card-body">
                <h5 class="card-title">Search</h5>
                <form action="{% url 'person_search' %}" method="post" style="margin: 0.5em;">
                    {% csrf_token %}
                    <p>
                        <label for="search_term">Name/email: </label>
                        <input name="search_term" placeholder="Name or email..." class="search_box" id="search_term" type="text" value="{% if search_term %}{{ search_term }}{% endif %}">
                    </p>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>    
            </div>
        </div>
    </div>
</div>

<div class="section section-heading">
    <h2>Search Results</h2>
</div>

{% if results %}
<div class="row-container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
    {% for person in results %}
    <div class="card text-center">
        <div class="card-body">
            {% if person.membership_status == 'active' %}<div class="float-end"><img width="20px" src="https://www.svgrepo.com/show/13695/star.svg" /></div>
            {% elif person.membership_status %}<div class="float-end"><span style="padding: 0.25rem" class="alert alert-danger">{{ person.membership_status }} <img src="{% static 'img/exclamation-triangle.svg' %}"></span></div>
            {% endif %}
            <h5 class="card-title">{{ person.name }}</h5>

            <div>
                <button class="btn btn-info" onclick="window.location='{{ person.person_card }}'; return false;">View Card</button>
            </div>

            <div>
                {% if person.last_check_in %}
                <div>Last check-in:</div>
                <div>{{ person.last_check_in.event.start|date:"Y-m-d" }} / {{ person.last_check_in.event.summary }}</div>
                {% else %}
                <div>Never checked-in</div>
                {% endif %}
            </div>
            
            {% for event in check_in_events %}
            <div>
                {% if event.id not in person.last_check_in_event_id_list %}
                <button class="btn btn-success" onclick="window.location='{% url 'member_check_in' person_id=person.id event_id=event.id  %}'; return false;">{{ event.summary }}</button>
                {% endif %}
            </div>
            {% endfor %}

            <div>Preferred email:</div>
            <div><a href="mailto:{{ person.preferred_email }}">{{ person.preferred_email }}</a></div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">No people found</h5>
            </div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}