{% extends 'subwaive/base.html' %}
{% load static %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>{{ person.name }}</h1>
</div>

{% include 'subwaive/templates/buttons.html' %}
{% include 'subwaive/templates/messages.html' %}

<div class="section section-heading">
    <h5 class="card-title">{{ person.name }}</h5>
                
    <div style="margin: 0.5rem">Signed a waiver: 
        {% if has_waiver %}<span style="padding: 0.25rem" class="alert alert-success">{{ has_waiver }} <img src="{% static 'img/check-circle.svg' %}"></span>
        {% else %}<span style="padding: 0.25rem" class="alert alert-danger">{{ has_waiver }} <img src="{% static 'img/exclamation-triangle.svg' %}"></span>
        {% endif %}
    </div>
                
    <div style="margin: 0.5rem">Current membership:
        {% if has_membership %}<span style="padding: 0.25rem" class="alert alert-success">{{ has_membership }} <img src="{% static 'img/check-circle.svg' %}"></span>
        {% else %}<span style="padding: 0.25rem" class="alert alert-warning">{{ has_membership }} <img src="{% static 'img/exclamation-triangle.svg' %}"></span>
        {% endif %}

    </div>
</div>

<div class="container">
    <div class="row justify-content-evenly row-cols-lg-4 row-cols-md-3 row-cols-1 g-lg-4 g-md-3 g-2">
        {% include 'subwaive/templates/check-in-history.html' %}
                
        {% if check_in_events %}
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Events</h5>

                <div><em>Check-in for an event</em></div>
                
                {% for event in check_in_events %}
                <div>
                    {% if event.id in last_check_in_event_id_list %}
                    <button class="btn btn-outline-success" disabled onclick="window.location='{% url 'member_check_in' person_id=person.id event_id=event.id  %}'; return false;">{{ event.summary }}</button>
                    {% else %}
                    <button class="btn btn-success" onclick="window.location='{% url 'member_check_in' person_id=person.id event_id=event.id  %}'; return false;">{{ event.summary }}</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Email Addresses</h5>

                <div>Email: <a href="mailto:{{ person.preferred_email.email }}">{{ person.preferred_email.email }}</a></div>
                
                <div>Linked email addresses:
                    {% for other_email in other_emails %}
                    <ul>{{ other_email.email }}</ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}