{% extends 'subwaive/base.html' %}
{% load static %}
{% block content %}

{% include 'subwaive/templates/determination-of-confidentiality.html' %}

<div class="container-fluid">
    <h1>
        People
        {% if persons %}
        <span class="badge text-bg-info" style="padding: 0.5rem;">{{ persons|length }}</span>
        {% endif %}
    </h1>
</div>

<div class="d-none d-md-flex">
    {% include 'subwaive/templates/buttons.html' %}
</div>

{% include 'subwaive/templates/messages.html' %}

<div class="section section-heading">
    <h5 class="card-title">ListMonk CSV import format <a href="#" onclick="copyElementTextToClipboard('link-monk-import-csv');"><img src="{% static 'img/copy.svg' %}"></a></h5>
</div>

<div class="row-container">
    <div class="card text-body text-center">
        <div class="card-body">
            <p id="link-monk-import-csv">email,name,attributes<br />{% for person in persons %}
{{ person.preferred_email.email }},"{{ person.name }}",""<br />{% endfor %}</p>
        </div>
    </div>
</div>

<div class="section section-heading">
    <h5 class="card-title">Email client field format <a href="#" onclick="copyElementTextToClipboard('email-recipient-list');"><img src="{% static 'img/copy.svg' %}"></a></h5>
</div>

<div class="row-container">
    <div class="card text-body text-center">
        <div class="card-body">
            <p id="email-recipient-list">{% for person in persons %}"{{ person.name }}" &lt;{{ person.preferred_email.email }}&gt;; {% endfor %}</p>
        </div>
    </div>
</div>

{% endblock %}